# Visual Studio
.vs/
*.suo
*.user
*.pdb
*.obj
*.exe
*.dll
*.dbmdl
*.tlog
*.idb
*.stackdump
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.ipch
_ReSharper.*/
[Rr]elease/
[Dd]ebug/
build/
bld/
*.log
*.bak
*.o
*.a
*.lib
*.so
*.lo
*.la
*.pyc
*.pyo
*.swp
*.sbr
*.bsc
*.res
*.pch
*.ilk
*.msi
*.mta
*.tmp
*.vsix
*.vsixmanifest
*.woff
*.woff2
*.ttf
*.eot
*.svg
*.min.css
*.min.js
*.map
*.bundle.*
*.js.map
*.css.map
*.ps1
*.json
project.lock.json

# Rider
.idea/

# Dotnet
bin/
obj/
*.user
*.userprefs
*.DS_Store
*.pid
*.log
*.vspscc
*.vssscc
*.buildscc
*.user
*.bak
*.editorconfig
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Package Manager
*.nupkg
*.snupkg
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z

# OS files
.DS_Store
.Trash
Thumbs.db
ehvd gluf zwvx ahek

# Sensitive files
CarCare.Api/appsettings.Development.json
